/*
 * Edit this file and copy it as userChrome.css into your
 * profile-directory/chrome/
 */

/*
 * This file can be used to customize the look of Mozilla's user interface
 * You should consider using !important on rules which you want to
 * override default settings.
 */

/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */


/*
 * Some possible accessibility enhancements:
 */
/*
 * Make all the default font sizes 20 pt:
 * * { font-size: 20pt !important }
 */
/*
 * Make menu items in particular 15 pt instead of the default size:
 * menupopup > * { font-size: 15pt !important }
 */
/*
 * Give the Location (URL) Bar a fixed-width font
 * #urlbar { font-family: monospace !important; }
 */
/*
 * Eliminate the throbber and its annoying movement:
 *
 * #throbber-box { display: none !important; }
 */
/*
 * For more examples see http://www.mozilla.org/unix/customizing.html
 */
 
/* tab {
  -moz-appearance: none ! important;
} */

/* ! */

* {
	font-size: 8pt !important;
}

.tabbrowser-tabs .tab-text {
	font-size: 75% !important;
}

.tabbrowser-tabs *|tab:hover .tab-text {
	color: #069 !important;
}

.tabbrowser-tabs *|tab:not([image]) .tab-icon {
	opacity: 0.5 !important;
}

.tabbrowser-tabs *|tab:hover {
	/* background-color: #fff !important; */
}

tab[selected="false"],
.tabbrowser-tabs tab[selected="false"] {
	/* background-color: #ccc !important; */
	opacity: 0.625;
}

tab[selected="true"],
.tabbrowser-tabs tab[selected="true"] {
	/* border-color: #000; */
	/* background-color: #eee !important; */
	opacity: 1.0 !important;
}

/* firefox 4 */
/* make the url preview (on link hover) easier to see) */
statuspanel {
  /* normal */
	bottom: 2px !important;
    /* above vimperator bar */
    /* bottom: 20px !important; */
	/* -moz-box-shadow: 0 0 5px 5px #111 !important; */
	left: 2px !important;
}
.statuspanel-label:not([value=""]) {
	background: #111 !important;
	color: #0f0 !important;
	opacity: 1 !important;
/* 	-moz-transition-property: opacity: 0 !important;
	-moz-transition-delay: 2000ms !important; */
}

/* Make Link Box Transparent */
/*
.statuspanel-label[value=""] {
	display: none !important;
}
#main-window[sizemode="normal"]:not([inFullscreen]) .statuspanel-inner{
	margin: 0 1px !important;
}
.statuspanel-label {
	color: Windows Text !important;
	border-color: Transparent !important;
	background: Transparent !important;
}
*/
