# vim: set ft=readline ts=2 sts=2 sw=2 et sta:

# Ensure arrow keys work as expected.
set enable-keypad on

## Direct display of meta key versus escape.
## Not sure what effect these really have.
# Don't change meta to escape.
set convert-meta off
# Enable 8-bit input (synonym: meta-flag).
set   input-meta on
# Display directly rather than with prefix.
set  output-meta on

## completion
# do not bell on tab-completion
set bell-style none
# append slash on directories
set mark-directories on
# precede modified lines with asterisk
set mark-modified-lines on
# append slash on symlinks to directories
set mark-symlinked-directories on
# single tab will display possibilities (instead of double)
set show-all-if-ambiguous off
# use pager with completion possibilites
set page-completions on
# suffix possibilities with class character (ls -F)
set visible-stats on

$if mode=emacs

#"": redraw-current-line

# for linux console and RH/Debian xterm
# number pad buttons: home, end, pgup/down...
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\e[3~": delete-char
"\e[2~": quoted-insert

## control-arrow
# screen
"\eO5C": forward-word
"\eO5D": backward-word
# gnome-terminal
"\e[5C": forward-word
"\e[5D": backward-word

## xfce4-terminal
# ctrl-arrow
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# Avoid "Unable to bind key for unsupported operation: shell-forward-word"
# in some applications (like sbt).
$if Bash
# shift-arrow
"\e[1;2C": shell-forward-word
"\e[1;2D": shell-backward-word
$endif

# Default is C-S so it's only available when XON/XOFF flow control is disabled.
#"\C-s": forward-search-history

# [https://coderwall.com/p/oqtj8w] {
"\eOA": history-search-backward
"\eOB": history-search-forward
#set show-all-if-ambiguous on
#set completion-ignore-case on
# }

#"\eOc": forward-word
#"\eOd": backward-word

# tmux
#"\eOA": up
#"\eOB": down
#"\eOD": left
#"\eOC": right

#"\e[c": forward-word
#"\e[d": backward-word

# for non RH/Debian xterm, can't hurt for RH/DEbian xterm
"\eOH": beginning-of-line
"\eOF": end-of-line

# for freebsd console
"\e[H": beginning-of-line
"\e[F": end-of-line
$endif

# Quote the current or previous word
$if Bash
"\C-xq": "\eb\"\ef\""
$endif
