# vim: set ft=cfg ts=2 sts=2 sw=2 et sta:
[MESSAGES CONTROL]
# disabling by symbolic name requires pylint 0.25.3
#disable=I0011,W0511,W0142
disable=locally-disabled,fixme,star-args

[FORMAT]
indent-string='  '

[BASIC]
# any use of single-char vars is rare and deliberate
argument-rgx=[a-z_][a-z0-9_]*$
variable-rgx=[a-z_][a-z0-9_]*$

[REPORTS]
symbols=yes

[MASTER]
# pylint-nose-checker
load-plugins=
  nose_checker
