[MESSAGES CONTROL]
# disabling by symbolic name requires pylint 0.25.3
#disable=I0011,W0511
disable=locally-disabled,fixme

[FORMAT]
indent-string='  '

[BASIC]
# any use of single-char vars is rare and deliberate
variable-rgx=[a-z_][a-z0-9_]*$
