CherryPy             >=  3.2.4
Fabric               >=  1.8.0
Mako                 >=  0.9.0
Markdown             >=  2.3.1
Sphinx               >=  1.2b1
Twisted              >=  13.1.0
coverage             >=  3.6
distribute           >=  0.6.34
icalendar            >=  3.4
lxml                 >=  3.2.1
mock                 >=  1.0.1
nose                 >=  1.3.0
# -e git://github.com/nvie/nose-machineout.git@903bbc46263b0bed29939d9445316a82f55b747a#egg=nose_machineout-dev
-e git+git://github.com/nvie/nose-machineout.git#egg=nose_machineout
pytz                 >=  2013b
requests             >=  2.0.0
rstcheck             >=  0.3.6
tox                  >=  1.4.3
